.btn-search {
  width: 19px;
  height: 19px;
  background: url(../img/icon-search.png) no-repeat;
}

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'HelveticaNeueUltra';
  font-size: 17px;
  letter-spacing: 1px;
  padding: 10px 20px;
  color: #FFF;
  font-weight: bold;
}

.btn:hover {
  color: #FFF;
}

.btn-blue {
  background: #9dcbd2;
}

.btn-violet {
  background: #86819e;
}

.btn-pink {
  background: #ff8e8e;
}

.btn-shadow {
  margin: 0 0 0 0;
}

.btn-shadow:hover {
  margin: 0 0 0 0;
}