/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn-search {
  width: 19px;
  height: 19px;
  background: url(../img/icon-search.png) no-repeat;
}

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'HelveticaNeueUltra';
  font-size: 17px;
  letter-spacing: 1px;
  padding: 10px 20px;
  color: #FFF;
  font-weight: bold;
  width: 239px;
}

.btn:hover {
  color: #FFF;
}

.btn-blue {
  background: #9dcbd2;
}

.btn-violet {
  background: #86819e;
}

.btn-pink {
  background: #ff8e8e;
}

.btn-shadow {
  margin: 0 0 0 0;
}

.btn-shadow:hover {
  margin: 0 0 0 0;
}

/*Less mixins*/

@font-face {
  font-family: 'Capsula';
  src: url('../fonts/Capsuula.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueUltra';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.otf');
  letter-spacing: 1.3em;
  font-style: normal;
  font-weight: normal;
}

body,
html {
  height: 100%;
  color: #5a5a5a;
}

body {
  font-family: 'Capsula', Helvetica, Sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 50px;
  font-family: 'Capsula';
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1em;
  text-transform: uppercase;
}

b {
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-family: 'HelveticaNeueUltra';
  letter-spacing: 0.03em;
}

h4 {
  text-transform: uppercase;
  font-family: 'Capsula';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.1px;
  text-shadow: 1px 0 0px;
}

input {
  font-family: 'HelveticaNeueUltra';
  font-size: 14px;
  background: transparent;
}

li {
  list-style: none;
}

section {
  height: 100vh;
  min-height: 732px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

section .container {
  height: 100%;
  display: table;
}

section .container .vert {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: inherit;
}

.header-menu {
  position: absolute;
  top: 0;
  width: 1182px;
  margin: 23px 0;
  margin-left: -115px;
  height: 34px;
}

.header-menu .logo {
  width: ;
}

.header-menu .logo {
  background: url(../img/logo.png) no-repeat;
  width: 144px;
  height: 33px;
}

.header-menu .search {
  margin: 0 112px 0 168px;
  border: 1px solid #FFF;
  border-radius: 5px;
  height: inherit;
  position: relative;
}

.header-menu .search input {
  color: #FFF;
  width: 100%;
  border: none;
  outline: none;
  height: inherit;
  text-align: right;
  font-size: 16px;
  letter-spacing: 0.2px;
  padding-right: 65px;
}

.header-menu .search .btn-search {
  position: absolute;
  right: 32px;
  top: 6px;
}

.header-menu .actions {
  position: absolute;
  right: 0;
  top: 0;
  width: 89px;
  height: inherit;
}

.header-menu .actions .menu {
  background: url(../img/icon-menu.png) no-repeat -36px 0;
}

.header-menu .actions .menu:hover {
  background-position: 0 0;
}

.header-menu .actions .profile {
  background: url(../img/login.png) no-repeat 0 0;
}

.header-menu .actions > ul {
  height: 36px;
}

.header-menu .actions > ul > li {
  width: 36px;
  height: inherit;
  float: left;
  position: relative;
}

.header-menu .actions > ul > li:not(:last-child) {
  margin-right: 16px;
}

.header-menu .actions > ul > li > a {
  display: block;
  width: 36px;
  height: 36px;
}

.header-menu .actions > ul > li:hover ul {
  display: block;
}

.header-menu .actions > ul > li ul {
  padding: 14px 0;
  display: none;
  height: auto;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  width: 100px;
}

.header-menu .actions > ul > li ul li {
  height: inherit;
  margin: 0;
}

.header-menu .actions > ul > li ul li a {
  color: #FFF;
  line-height: 1.3em;
  height: inherit;
}

.sec1 {
  background: url(../img/header-bg.jpg) no-repeat center;
  background-size: cover;
}

.sec1 .promo {
  font-size: 80px;
  color: #FFF;
  line-height: 1em;
  text-transform: uppercase;
}

.sec1 .promo span {
  text-transform: none;
  color: #ff8e8e;
}

.sec1 .descript {
  font-family: 'HelveticaNeueUltra';
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
  margin: 27px 0;
}

.sec1 .learn-more {
  font-family: 'HelveticaNeueUltra';
  background: #FFF;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: -1px;
  height: 82px;
  text-transform: uppercase;
  color: #3e3e3e;
}

.sec1 .learn-more:before {
  content: "";
  width: 200%;
  height: inherit;
  position: absolute;
  left: -200%;
  top: 0;
  background: inherit;
}

.sec1 .learn-more:after {
  content: "";
  width: 200%;
  height: inherit;
  position: absolute;
  left: 100%;
  top: 0;
  background: inherit;
}

.sec1 .learn-more img {
  margin: 0 5px;
}

.sec1 .learn-more a {
  display: inline-block;
  padding: 20px;
}

.sec1 .learn-more .skills-md {
  position: absolute;
  margin-top: -50px;
}

.sec1 .btn {
  margin: 7px;
}

.sec1 .btn.btn-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.profit .item {
  width: 260px;
  text-align: center;
}

.profit .item .icon {
  height: 168px;
  width: inherit;
}

.profit .item .icon.request {
  background: url(../img/icon-request.png) no-repeat 47px 9px;
}

.profit .item .icon.ukraine {
  background: url(../img/icon-ukraine.png) no-repeat center 14px;
}

.profit .item .icon.database {
  background: url(../img/icon-dev-database.png) no-repeat center 18px;
}

.profit .item .name {
  font-size: 25px;
  font-family: 'Capsula';
  font-weight: 700;
}

.profit .item .desc {
  font-size: 16px;
  font-family: 'HelveticaNeueUltra';
  margin: 8px 0;
}

.profit .item .btn {
  width: 239px;
  margin: 11px 0;
}

.sec2 {
  /* padding-bottom: @devRate;
	margin-bottom: -@devRate; */
}

.sec2 .b-profit {
  display: table;
  width: inherit;
}

.dev-rate {
  position: absolute;
  bottom: -1px;
  height: 180px;
  width: inherit;
  background: #82b4bb;
  color: #FFF;
}

.dev-rate:before {
  content: "";
  width: 200%;
  height: inherit;
  position: absolute;
  left: -200%;
  top: 0;
  background: inherit;
}

.dev-rate:after {
  content: "";
  width: 200%;
  height: inherit;
  position: absolute;
  left: 100%;
  top: 0;
  background: inherit;
}

.dev-rate .proposal {
  font-size: 37px;
  color: #FFF;
  margin-top: 64px;
  float: left;
  position: absolute;
}

.dev-rate .offer {
  width: 240px;
  padding: 47px 24px;
  margin-right: 10px;
  height: inherit;
  float: right;
  background: #9dcbd2;
  text-transform: uppercase;
  text-align: center;
}

.dev-rate .offer .head {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'HelveticaNeueUltra';
  margin-bottom: 17px;
  font-weight: 700;
}

.dev-rate .offer ul li {
  display: inline-block;
  width: 37px;
}

.dev-rate .offer ul li:not(:last-child) {
  margin-right: 35px;
}

.dev-rate .offer ul li .num {
  font-size: 34px;
  font-family: 'Capsula';
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #FFF;
}

.dev-rate .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  width: 239px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.how-it-works > div:nth-child(1) .item {
  padding-right: 45px;
}

.how-it-works > div:nth-child(2) .item {
  margin-left: -15px;
}

.how-it-works > div:nth-child(3) .item {
  margin-right: -15px;
}

.how-it-works > div:nth-child(4) .item {
  padding-left: 45px;
}

.how-it-works > div:not(:last-child) .icon:after {
  content: "";
  width: 111px;
  height: 14px;
  position: absolute;
  top: 58px;
  left: 140px;
  background: url(../img/steps-arrow-straight.png) no-repeat;
}

.how-it-works .item {
  text-align: center;
}

.how-it-works .item .icon {
  width: 124px;
  height: 128px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.how-it-works .item .icon.request {
  background: url(../img/icon-gear-request.png) no-repeat center;
}

.how-it-works .item .icon.receive {
  background: url(../img/icon-gear-clock.png) no-repeat center;
}

.how-it-works .item .icon.work {
  background: url(../img/icon-gear-laptop.png) no-repeat center;
}

.how-it-works .item .icon.enjoy {
  background: url(../img/icon-gear-thumb.png) no-repeat center;
}

.how-it-works .item .step {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1em;
  font-family: 'Capsula';
}

.sec3 .steps {
  padding: 0 55px;
  margin: 48px 0;
}

.sec3 .steps .step {
  margin-bottom: 30px;
  height: 60px;
}

.sec3 .steps .step > div {
  float: left;
}

.sec3 .steps .step .num {
  font-family: 'HelveticaNeueUltra';
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  height: 60px;
  width: 60px;
  color: #85898e;
  border: 1px solid;
  border-radius: 50%;
}

.sec3 .steps .step .decsript {
  margin-left: 18px;
  width: 270px;
  letter-spacing: 0.6px;
}

.sec3 .steps .step .decsript h4 {
  margin-bottom: 5px;
  margin-top: 4px;
  color: #82b4bb;
}

.sec3 .steps .step .decsript p {
  font-family: 'HelveticaNeueUltra';
  font-size: 13px;
  line-height: 1.3em;
  font-weight: 700;
}

.heading {
  margin-bottom: 30px;
}

.lightBlue {
  color: #9dcbd2;
}

.pink {
  color: #ff8e8e;
}

.violet {
  color: #86819e;
}

@media (min-width: 0) {
  section {
    height: auto;
  }

  .header-menu {
    width: 320px;
    margin: 23px -23px;
  }

  .header-menu .skills-md,
  .header-menu .profile,
  .header-menu .search {
    display: none;
  }

  .profit .item {
    margin: auto;
  }
}

@media (min-width: 768px) {
  section {
    height: auto;
  }

  .header-menu {
    width: 730px;
    margin: 23px -23px;
  }

  .header-menu .skills-md,
  .header-menu .profile,
  .header-menu .search {
    display: block;
  }

  .btn-large {
    width: auto;
  }
}

@media (min-width: 992px) {
  section {
    height: 100vh;
  }

  .header-menu {
    width: 970px;
    margin: 23px -23px;
  }

  .btn-large {
    width: 358.5px;
  }

  .profit div:first-child .item {
    float: left;
  }

  .profit div:last-child .item {
    float: right;
  }

  .profit div .item {
    margin: auto;
  }

  .dev-rate .proposal {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 980px !important;
  }

  .header-menu {
    width: 1182px;
    margin-left: -142px;
  }

  .btn-large {
    width: 239px;
  }

  .dev-rate .proposal {
    font-size: 37px;
  }
}