@media (min-width: 0) {
  section {
    height: auto;
  }

  .header-menu {
    width: 320px;
    margin: 23px -23px;
  }

  .header-menu .skills-md,
  .header-menu .profile,
  .header-menu .search {
    display: none;
  }

  .profit .item {
    margin: auto;
  }
}

@media (min-width: 768px) {
  section {
    height: auto;
  }

  .header-menu {
    width: 730px;
    margin: 23px -23px;
  }

  .header-menu .skills-md,
  .header-menu .profile,
  .header-menu .search {
    display: block;
  }

  .btn-large {
    width: auto;
  }
}

@media (min-width: 992px) {
  section {
    height: 100vh;
  }

  .header-menu {
    width: 970px;
    margin: 23px -23px;
  }

  .btn-large {
    width: 660px;
  }

  .profit div:first-child .item {
    float: left;
  }

  .profit div:last-child .item {
    float: right;
  }

  .profit div .item {
    margin: auto;
  }

  .dev-rate .proposal {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 980px !important;
  }

  .header-menu {
    width: 1182px;
    margin-left: -142px;
  }

  .btn-large {
    width: auto;
  }

  .dev-rate .proposal {
    font-size: 37px;
  }
}