@import 'reset';
@import 'variables';
@import 'mixins';
@import 'btns';

@font-face {
  font-family: 'Capsula';
  src: url('../fonts/Capsuula.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Exo';
  src: url('../fonts/exo/Exo-ExtraLight.otf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Exo';
  src: url('../fonts/exo/Exo-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Exo';
  src: url('../fonts/exo/Exo-Bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNeueUltra';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.otf');
  letter-spacing: 1.3em;
  font-style: normal;
  font-weight: normal;
}

body,
html {
  height: 100%;
  color: #5a5a5a;
}
body{
	font-family: 'Exo', Helvetica, Sans-serif;
	background: #FFF;
}

h1{
	font-size: 43px;
	font-family: 'Exo', Helvetica, Sans-serif;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 1.3em;
	text-transform: uppercase;
}
h3{
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.03em;
	font-weight: 100;
}
h4{
	text-transform: uppercase;
	font-family: 'Exo', Helvetica, Sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1.1px;
	text-shadow: 1px 0 0px;
}
b{
	font-weight: 700;
} 
a{
	&:hover{
		text-decoration: none;
	}
}
p{
	font-family: Helvetica, Sans-serif;
}
input{
	font-family: 'HelveticaNeueUltra', Helvetica, Sans-serif;
	font-size: 14px;
	background: transparent;
}
li{
	list-style: none;
}

section{
	height: 100vh;
	min-height: 653px;
	max-height: 1137px;
	min-width: 640px;
	width: 100%;
	position: relative;
	overflow: hidden;
	.container{
		height: 100%;
		display: table;
		.vert{
			display:table-cell;
			vertical-align: middle;
			position: relative;
			width: inherit;
		}
	}
}
.header-menu{
	position: absolute;
	top:0;
	width: 1182px;
	margin: 23px 0;
	margin-left: -115px;
	.logo{
		width: ;
	}
	height: 34px;
	.logo{
		background: url(../img/logo.png) no-repeat;
		width: 144px;
		height: 33px;
	}
	.search{
		margin: 0 112px 0 168px; 
		border: 1px solid #FFF;
		border-radius: 5px;
		height: inherit;
		position: relative;
		input{
			color: #FFF;
			width: 100%;
			border: none;
			outline: none;
			height: 32px;
			line-height: 31px;
			text-align: right;
			font-size: 16px;
			letter-spacing: 1px;
			padding-right: 65px;
		}
		.btn-search{
			position: absolute;
			right: 32px;
			top: 6px;
		}
	}
	.actions{
		position: absolute;
		right: 0;
		top: 0;
		width: 89px;
		height: inherit;
		@icon-size: 36px;
		.menu{
			background: url(../img/icon-menu.png) no-repeat -36px 0;
			&:hover{
				background-position: 0 0;
				transform: rotate(90deg);
				transition: transform .5s ease;
			}
			transition: transform .5s ease;
		}
		.profile{
			background: url(../img/login.png) no-repeat 0 0;
		}
		> ul{
			height: @icon-size;
			> li{
				width: @icon-size;
				height: inherit;
				float: left; 
				position: relative;
				z-index: 3;
				&:not(:last-child){
					margin-right: 16px;
					&:hover{
						ul{
							display: block;
						}
					}
				}
				> a{
					display: block;
					width: @icon-size;
					height: @icon-size;
				}
				&:hover, &:focus, &:active{
					ul{
					}
				}
				ul{
					padding: 14px 0;
					display: none;
					height: auto;
					text-align: right;
					text-transform: uppercase;
					position: absolute;
					right: 0;
					width: 130px;
					transition: opacity 0.5s;
					li{
						height: inherit;
						margin: 0;
						a{
							color: #FFF;
							line-height: 1.5em;
							height: inherit;
							font-size: 16px;
							font-family: 'Open Sans', Sans-serif, Helvetica;
						}
					}
					transition:all 0.3s ease;
				}
			}
		}
	}
}
.sec1{
	background: url(../img/header-bg.jpg) no-repeat center;
	background-size: cover;
	.promo-body{
		.promo{
			font-size: 80px;
			font-weight: 100;
			font-family: 'Capsula', 'Exo', Sans-serif, Helvetica;
			color: #FFF;
			line-height: 1em;
			text-transform: uppercase;
			span{
				color: @tPink;
				display: inline-block;
			}
		}	
	}
	.descript{
		font-family: 'HelveticaNeueUltra';
		text-transform: uppercase;
		color: #FFF;
		letter-spacing: 2px;
		margin: 27px 0;
	}
	.fullwidth(color){

	}
	.learn-more{
		.fullwidth();
		font-family: 'HelveticaNeueUltra';
		background: #FFF;
		padding: 0;
		position: absolute;
		width: 100%;
		bottom: -1px;
		height: 82px;
		text-transform: uppercase;
		color: @tGrey;
		img{
			margin: 0 5px;
		}

		a{
			display: inline-block;
			padding:20px;
		}
		@skillsHeight: 50px;
		.skills-md{
			position: absolute;
			margin-top: -@skillsHeight;
		}
	}
	.phone{
		padding-left: 70px;
		font-size: 42px;
		letter-spacing: 2px;
		line-height: 56px;
		background: url(../img/icon-phone.png) 50px center no-repeat;
		margin: 57px 0;
		display: block;
		&:hover{
			color: @tLightBlue;
			opacity: 0.9;
		}
	}
	.btn{
		margin:7px;
		&.btn-shadow{
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
		}
	}
}
.red-offer-body{
	font-family: 'Open Sans', Sans-serif, Helvetica;
	font-weight: 100;
	display: table;
	height: 50px;
	width: 120px;
	border-radius: 5px;
	position: fixed;
	left: 0;
	top: 50%;
	margin-top: -50px;
	color: #FFF;
	background: @tPink;
	z-index: 3;
	.padding{
			padding: 12px 5px;
			height: 65px;
	}
	.head{
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		margin: 8px;
		margin-top:0;
		}
	ul{
		li{
			display: inline-block;
			width: 28px;
			font-size: 7px;
			font-weight: 400;
			text-transform: uppercase;
			color: #000;
			float: left;
			margin-left: 5px;
			.num{
				font-size: 14px;
				font-family: 'Exo', Helvetica, Sans-serif;
				color: #FFF;
				text-transform: uppercase;
				padding-bottom: 4px;
			}
		}
	}
}
.counter{
	.num{
		>div{
			display: inline;
		}		
	}
}
.profit{
	div{
		&:first-child{
			.item{
				float: left;
				.desc{
					width: 200px;
					margin: 8px auto;
				}
				
			}
		}
		&:last-child{
			.item{
				float: right;
			}
		}
		.item{
			margin: auto;
			width: 260px;
			padding: 10px 0;
			.desc{
				height: auto;
				line-height: 1.22em;
				font-size: 14px;
			}
		}
	}
	.item{
		width: 260px;
		margin: auto;
		text-align: center;
		.icon{
			height: 168px;
			width: inherit;
			&.request{
				background: url(../img/icon-request.png) no-repeat 47px 9px;
			}
			&.ukraine{
				background: url(../img/icon-ukraine.png) no-repeat center 14px;
			}
			&.database{
				background: url(../img/icon-dev-database.png) no-repeat center 18px;
			}
		}
		.name{
			font-size: 20px;
			font-family: 'Exo', Helvetica, Sans-serif;
			font-weight: 400;
		}
		.desc{
			font-size: 16px;
			font-family: 'Open sans', Helvetica, Sans-serif;
			margin: 8px 0;
		}
		.btn{
			width: 239px;
			margin: 11px 0;
		}

	}
}
@devRate: 180px;
.sec2{
	/* padding-bottom: @devRate;
	margin-bottom: -@devRate; */
	.b-profit{
		width: inherit;
		height: 500px;
		top: 0;
		bottom: 25%;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
	}
	.heading{
		margin-bottom: 20px;
	}
}
.dev-rate{
	.row{
		height: inherit;
	}
	.fullwidth();
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	margin: auto;
	height: @devRate;
	background: @tSeaBlue;
	color: #FFF;
	border-top: 1px solid #fff;
	.proposal{
		display: inline-block;
		margin-right: -5px;
		&:before{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			left: 14px;
			top:0;
			border-style: solid;
			border-width: 34px 43.5px 0 43.5px;
			border-color: #ffffff transparent transparent transparent;
		}		
	}
	.proposal-text{
		font-size: 27px;
		color: #FFF;
		margin-top: 64px;
		float: left;
		position: absolute;

	}
	.offer{
		background: @tLightBlue;
		height: 100%;
		text-transform: uppercase;
		text-align: center;
		width: 235px;
		margin-right: 10px;
		padding: 0 22px;
		.offer-body{
			display: table;
			height: 100%;
			.head{
				font-size: 16px;
				letter-spacing: 1px;
				font-family: 'HelveticaNeueUltra', Helvetica, Sans-serif;
				margin-bottom: 17px;
				font-weight: 700;
			}
			ul{
				li{
					display: inline-block;
					width: 37px;
					&:not(:last-child){
						margin-right: 35px;
					}
					.num{
						font-size: 30px;
						width: 100%;
						text-align: center;
						font-family: 'Exo', Helvetica, Sans-serif;
						padding-bottom: 5px;
						margin-bottom: 5px;
						border-bottom: 2px solid #FFF;
						font-size: 30px;
						overflow: hidden;
						> div{
							display: table-cell;
							text-align: center;
							width: 50%;
						}
					}
				}
			}
		}
	}
	.btn{
		position: absolute;
		left:0;
		right: 0;
		bottom: 26px;
		margin: auto;
		width: 239px;
		box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.1);
	}

}
.how-it-works{
	> div{
		&:nth-child(1){
			.item{ padding-right: 0; }
		}
		&:nth-child(2){
			.item{ margin-left: 0; }
		}
		&:nth-child(3){
			.item{ margin-right: 0; }
		}
		&:nth-child(4){
			.item{ padding-left: 0; }
		} 
		&:not(:last-child){
				.icon{
					&:after{
						content: "";
						width: 111px;
						height: 14px;
						position: absolute;
						top: 58px;
						left: 140px;
						background: none;
					}
				}
			}
	}
	.item{
		text-align: center;
		margin-bottom: 45px;
		.icon{
			width: 125px;
			height: 127px;
			margin: auto;
			margin-bottom: 20px;
			position: relative;
			div:first-child{
					width: 125px;
					height: 127px;
				}
			&:hover{
				div:first-child{
					width: 125px;
					height: 127px;
						-webkit-animation: rotation 2s linear infinite;
					    -moz-animation: rotation 2s linear infinite;
					    -ms-animation: rotation 2s linear infinite;
						background-position: 0 -127px;
				}
				.mask{
					background-position-y: -147px;
				}
			}
			.request{
				background: url(../img/icon-gear-request.png) no-repeat;
			}
			.receive{
				background: url(../img/icon-gear-clock.png) no-repeat;
			}
			.work{
				background: url(../img/icon-gear-laptop.png) no-repeat;
			}
			.enjoy{
				background: url(../img/icon-gear-thumb.png) no-repeat;
			}
		}
		.step{
			font-size: 18px;
			font-weight: 400;
			line-height: 1.1em;
			font-family: 'Exo', Helvetica, Sans-serif;
			width: 160px;
			margin: auto;
		}
	}
}
.sec3{
	.heading{
		margin-bottom: 25px;
		h1{
			line-height: 1em;
		}
	}
	.steps{
		padding: 0 55px;
		margin-bottom: 18px;
		.step{
			margin-bottom: 30px;
			height: 60px;
			> div{
				float: left;
			}
			.num{
				font-family: 'HelveticaNeueUltra';
				font-size: 36px;
				text-align: center;
				line-height: 60px;
				height: 60px;
				width: 60px;
				color: #85898e;
				border: 1px solid;
				border-radius: 50%;
			}
			.descript{
				margin-left: 18px;
				width: 320px;
				h4{
					margin-bottom: 5px;
					margin-top: 4px;
					width: 430px;
					color: @tSeaBlue;
				}
				p{
					font-size: 13px;
					line-height: 1.3em;
					font-weight: 400;
				}
			}
		}
	}
}
.sec4{
	display: table;
	.bg-wrap{
		display: table-cell;
		height: 556px;
		vertical-align: middle;
		background: url(../img/about-us-bg.jpg) no-repeat 40%;
	}
	.about-us{
		h3{
			margin-bottom: 35px;
		}
		p{
			text-align: justify;
			-moz-text-align-last: center;
			text-align-last: center;
			margin: auto;
			margin-bottom: 20px;
			width: 595px;
			font-size: 16px;
			line-height: 1.4em;
			color: #85898e;
		}
	}
	.read-more{
		.icon{
			width: 100%;
			height: 107px;
			background: url(../img/icon-about-us.png) no-repeat top center;
			margin-bottom: 20px;
		}
	}
	.heading{
		margin: 0;
	}
}
.sec5{
	.map{
		width: 466px;
		height: 313px;
		margin: 10px auto;
		margin-bottom: 30px;
		position: relative;
		background: url(../img/map-ukraine.png) no-repeat;
		display: block;
		.specialist{
			> div{
				float: left;
			}
			position: absolute;
			width: 165px;
			height: 69px;
			background: url(../img/freelancer-bg.png) no-repeat;
			.face{
				width: 48px;
				height: 48px;
				margin-left: -8px;
				margin-top: -3px;
				img{
					border: 5px solid #66b4be;
					border-radius: 50%;
				}
			}
			.info{
				color: #FFF;
				width: 105px;
				margin: 8px 10px;
				float: left;
				.name{
					font-size: 10px;
					text-transform: uppercase;
				}
				.profession,.since{
					font-size: 10px;
					font-style: italic;
					font-family: Helvetica, Sans-serif;
				}
				.since{
					border-top: 1px solid #FFF;
					margin-top: 2px;
					padding-top: 2px;
				}
			}
			&:nth-child(1){
				top: 57px;
				left: 70px;
			}
			&:nth-child(2){
				top: 44px;
				left: 350px;
			}
			&:nth-child(3){
				top: 131px;
				left: 234px;
			}
			&:nth-child(4){
				top: 193px;
				left: 44px;
				background-position: 0 -68px;
				> div{
					float: right;
					text-align: right;
				}
			}
		}
	}
	blockquote{
		font-size: 16px;
		font-family: 'Open sans', Helvetica, Sans-serif;
		color: #ff8e8e;
		line-height: 1.3em;
		font-weight: 100;
		border-top: 2px solid #9dcbd2;
		padding: 15px 0;
		width: 190px;
		margin: auto;
		height: 160px;
	}
	.author{
		font-family: Helvetica, Sans-serif;
		font-style: italic;
		margin: 15px 0;
		font-size: 13px;
	}
}
.technologies{
	padding-left: 25px;
	margin-right: -65px;
	>div{
		padding: 0;
	}
	ul{
		&:before{
			content: '';
			position: absolute;
			height: 40px;
			width: 2px;
			background: @tLightBlue;
			left: -12px;
			top: -5px;
		}
		li{
			font-size: 16px;
			font-family: 'Open sans', Helvetica, Sans-serif;
			line-height: 1.4em;
			color: #999999;
			position: relative;
			display: inline-block;
			float: left;
			clear: both;
			&:hover{
				cursor: pointer;
			}
		}
	}
}
.sec6{
	.heading{
		margin-bottom: 45px;
	}
	.j-tech{
		width: inherit;
		height: 450px;
		top: 0;
		bottom: 25%;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;
	}
}
footer{
	height: 182px;
	margin: auto;
	.fullwidth();
	background: #82b4bb;
	color: #FFF;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: 'Open sans', Helvetica, Sans-serif;
	font-weight: 100;
	a{
		color: #FFF;
		&:hover{
			color: inherit;
			text-decoration: underline;
		}
	}
	.contacts{
		.contacts-group{
			display: inline-block;
			vertical-align: middle;
		}
		height: 65px;
		position: absolute;
		top:0;
		bottom: 0;
		margin: auto 280px auto 50px;
		text-transform: uppercase;
		.item{
			float: left;
			padding-left: 65px;
			&:before{
				content: "";
				width: 46px;
				height: 46px;
				background: url(../img/sprite-footter.png) no-repeat;
				position: absolute;
				margin-top: 5px;
				margin-left: -65px;
				border: 1px solid #FFF;
				border-radius: 50%;
			}
		}
		.info,.social{
			font-size: 12px;
			line-height: 1.4em;
			margin-right: 25px;
		}
		.tel,.mail{
			font-size: 18px;
			line-height: 58px;
			margin-right: 20px;
			text-transform: none;
		}
		.info{
			&:before{
				background-position: -2px -1px;
			}
		}
		.social{
			&:before{
				background-position: -49px -1px;
			}
		}
		.tel{
			&:before{
				background-position: -95px -1px;
			}
		}
		.mail{
			&:before{
				background-position: -140px -1px;
			}
		}
	}
	.request{
		width: 236px;
		height: 114px;
		top: 0;
		bottom: 0;
		right: 19px;
		position: absolute;
		margin: auto;
		h4{
			font-size: 14px;
			margin-top: 6px;
			font-family: 'Open sans', Helvetica, Sans-serif;
		}
		.btn{
			box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.1);
			width: 100%;
			margin: 12px 0;
		}
		.social-links{
			ul{
				text-align: center;
				li{
					display: inline-block;
					&:not(:last-child){
						margin: 0 3px;
					}
					a{
						display: block;
						width: 31px;
						height: 31px;
						border-radius: 50%;
						background: url(../img/sprite-social.png) no-repeat;
						&:hover{
							box-shadow: 0 0 3px #FFF;
						}
						&.fb{
							background-position: -31px 0;
						}
						&.go{
							background-position: -62px 0;
						}
						&.yo{
							background-position: -93px 0;
						}
						&.in{
							background-position: -124px 0;
						}
					}
				}
			}
		}
	}
}
.mobile-footter{
	background: @tLightBlue url(../img/mobile-footter-bg.jpg) no-repeat;
	background-size: cover;
	.item{
		position: relative;
	}
	.contacts-group{
		color: #FFF;
		position: relative;
		a{
			color: inherit;
			
		}
		&:after{
			content: "";
			position: absolute;
			width: 280px;
			height: 3px;
			background: #FFF;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.info{
			padding-top: 172px;
			padding-bottom: 68px;;
			&:before{
				position: absolute;
				top: 45px;
				left: 0;
				right: 0;
				margin: auto;
				content: "";
				width: 97px;
				height: 97px;
				border: 4px solid #FFF;
				border-radius: 50%;
				background: url(../img/icon-i.png) no-repeat center;
			}
			a{
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				line-height: 1.34em;
				font-size: 26px;
				&:hover{
					&:before{
						content: "";
						color: #FFF;
						position: absolute;
						left: -24px;
						top: 50%;
						margin-top: -8px;
						width: 11px;
						height: 14px;
						background: url(../img/icon-menu-arrow.png) no-repeat -11px 0; 
					}
				}
			}
		}
		.tel, .skype{
			font-size: 30px;
		}
		.tel{
			padding-top: 110px;
			padding-bottom: 70px;
			&:before{
				position: absolute;
				top: 30px;
				left: 0;
				right: 0;
				margin: auto;
				content: "";
				width: 65px;
				height: 65px;
				border: 2px solid #FFF;
				border-radius: 50%;
				background: url(../img/sprite-footter.png) no-repeat -278px;
			}
		}
		.skype{
			padding-top: 55px;
			padding-bottom: 20px;
			&:before{
				position: absolute;
				top: -30px;
				left: 0;
				right: 0;
				margin: auto;
				content: "";
				width: 65px;
				height: 65px;
				border: 2px solid #FFF;
				border-radius: 50%;
				background: url(../img/sprite-footter.png) no-repeat -200px;
			}			
		}
	}
	.request{
		width: 486px;
		height: 94px;
		margin: auto;
		margin-top: 72px;
		h4{
			font-size: 40px;
			margin-top: 6px;
			font-family: 'Open sans', Helvetica, Sans-serif;
			color: #FFF;
			text-shadow: none;
			span{
				color: @tPink;
			}
		}
		.btn{
			box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.1);
			width: 100%;
			margin: 32px 0;
		}
	}
	.social-links{
		display: block;
		background: #FFF;
		border-top: 10px solid #A4D9DB;
		position: absolute;
		width: 100%;
		left: 0;
		height: 170px;
		bottom: 0;
		ul{
			text-align: center;
			padding-top: 34px;
			li{
				display: inline-block;
				margin: 0 10px;
				a{
					display: block;
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background: url(../img/sprite-social-mobile.png) no-repeat;
					&:hover{
						opacity: 0.9;
					}
					&.fb{
						background-position: -101px 0;
					}
					&.go{
						background-position: -202px 0;
					}
					&.yo{
						background-position: -303px 0;
					}
					&.in{
						background-position: -403px 0;
					}
				}
			}
		}
	}
}
.profit-link{
	display: block;
}
.heading{
	margin-bottom: 35px;
}
.lightBlue{
	color: @tLightBlue;
}
.pink{
	color: @tPink;
}
.violet{
	color: @tViolet;
}

/*Infinite rotation animation*/
@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

.rotating {
    -webkit-animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -ms-animation: rotation 2s linear infinite;
}
.rotate90{
	background-position: 0 0;
	transform: rotate(90deg);
	transition: transform .5s ease;
}
.about-us-anim{
	position: relative;
	width: 154px;
	height: 106px;
	margin: auto;
	margin-bottom: 22px;
	.man{
		position: absolute;
		width: 38px;
		height: 45px;
		background: url(../img/about_us/man.png) no-repeat;
	}
	.top-man{
		left: 59px;
	}
	.left-man{
		bottom: 7px;
	}
	.left-man-line{
		position: absolute;
		top: 43px;
		left: 32px;
		width: 24px;
		height: 25px;
		background: url(../img/about_us/left-line.png) no-repeat;
	}
	.bottom-man{
		left: 59px;
		bottom: -3px;
	}
	.bottom-man-line{
		position: absolute;
		width: 10px;
		height: 17px;
		top: 45px;
		left: 70px;
		background: url(../img/about_us/bottom-line.png) no-repeat;
	}
	.right-man{
		right: -3px;
		bottom: 7px;
	}
	.right-man-line{
		position: absolute;
		top: 44px;
		left: 96px;
		width: 24px;
		height: 23px;
		background: url(../img/about_us/right-line.png) no-repeat;
	}
}
.mask{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 88px;
	height: 88px;
	border-radius: 50%;
}
.icon-request .mask{
	background: #FFF url(../img/icon-gear-request.png) no-repeat -18px -20px;
}
.icon-receive .mask{
	background: #FFF url(../img/icon-gear-clock.png) no-repeat -18px -20px;
}
.icon-work .mask{
	background: #FFF url(../img/icon-gear-laptop.png) no-repeat -18px -20px;
}
.icon-enjoy .mask{
	background: #FFF url(../img/icon-gear-thumb.png) no-repeat -18px -20px;
}
@import 'screen';
