@import 'reset';
@import 'variables';
@import 'btns';
@import 'mixins';

@font-face {
  font-family: 'Capsula';
  src: url('../fonts/Capsuula.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'HelveticaNeueUltra';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.otf');
  letter-spacing: 1.3em;
  font-style: normal;
  font-weight: normal;
}
body,
html {
  height: 100%;
  color: #5a5a5a;
}
body{
	font-family: 'Capsula', Helvetica, Sans-serif;
	font-weight: normal;
}
h1{
	font-size: 50px;
	font-family: 'Capsula';
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.1em;
	text-transform: uppercase;
}
b{
	font-weight: 700;
}
h3{
	font-size: 22px;
	font-family: 'HelveticaNeueUltra';
	letter-spacing: 0.03em;
}
h4{
	text-transform: uppercase;
	font-family: 'Capsula';
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1.1px;
	text-shadow: 1px 0 0px;
}

input{
	font-family: 'HelveticaNeueUltra';
	font-size: 14px;
	background: transparent;
}
li{
	list-style: none;
}

section{
	height: 100vh;
	min-height: 732px;
	width: 100%;
	position: relative;
	overflow: hidden;
	.container{
		height: 100%;
		display: table;
		.vert{
			display:table-cell;
			vertical-align: middle;
			position: relative;
			width: inherit;
		}
	}
}
.header-menu{
	position: absolute;
	top:0;
	width: 1182px;
	margin: 23px 0;
	margin-left: -115px;
	.logo{
		width: ;
	}
	height: 34px;
	.logo{
		background: url(../img/logo.png) no-repeat;
		width: 144px;
		height: 33px;
	}
	.search{
		margin: 0 112px 0 168px; 
		border: 1px solid #FFF;
		border-radius: 5px;
		height: inherit;
		position: relative;
		input{
			color: #FFF;
			width: 100%;
			border: none;
			outline: none;
			height: inherit;
			text-align: right;
			font-size: 16px;
			letter-spacing: 0.2px;
			padding-right: 65px;
		}
		.btn-search{
			position: absolute;
			right: 32px;
			top: 6px;
		}
	}
	.actions{
		position: absolute;
		right: 0;
		top: 0;
		width: 89px;
		height: inherit;
		@icon-size: 36px;
		.menu{
			background: url(../img/icon-menu.png) no-repeat -36px 0;
			&:hover{
				background-position: 0 0;
			}
		}
		.profile{
			background: url(../img/login.png) no-repeat 0 0;
		}
		> ul{
			height: @icon-size;
			> li{
				width: @icon-size;
				height: inherit;
				float: left; 
				position: relative;
				&:not(:last-child){
					margin-right: 16px;
				}
				> a{
					display: block;
					width: @icon-size;
					height: @icon-size;
				}
				&:hover{
					ul{
						display: block;
					}
				}
				ul{
					padding: 14px 0;
					display: none;
					height: auto;
					text-align: right;
					text-transform: uppercase;
					position: absolute;
					right: 0;
					width: 100px;
					li{
						height: inherit;
						margin: 0;
						a{
							color: #FFF;
							line-height: 1.3em;
							height: inherit;
						}
					}
				}
			}
		}
	}
}
.sec1{
	background: url(../img/header-bg.jpg) no-repeat center;
	background-size: cover;
	.promo{
		font-size: 80px;
		color: #FFF;
		line-height: 1em;
		text-transform: uppercase;
		span{
			text-transform: none;
			color: @tPink;
		}
	}
	.descript{
		font-family: 'HelveticaNeueUltra';
		font-size: 20px;
		text-transform: uppercase;
		color: #FFF;
		letter-spacing: 2px;
		margin: 27px 0;
	}
	.fullwidth(color){

	}
	.learn-more{
		.fullwidth();
		font-family: 'HelveticaNeueUltra';
		background: #FFF;
		padding: 0;
		position: absolute;
		width: 100%;
		bottom: -1px;
		height: 82px;
		text-transform: uppercase;
		color: @tGrey;
		img{
			margin: 0 5px;
		}

		a{
			display: inline-block;
			padding:20px;
		}
		@skillsHeight: 50px;
		.skills-md{
			position: absolute;
			margin-top: -@skillsHeight;
		}
	}
	.btn{
		margin:7px;
		&.btn-shadow{
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
		}
	}
}
.profit{
	.item{
		width: 260px;
		text-align: center;
		.icon{
			height: 168px;
			width: inherit;
			&.request{
				background: url(../img/icon-request.png) no-repeat 47px 9px;
			}
			&.ukraine{
				background: url(../img/icon-ukraine.png) no-repeat center 14px;
			}
			&.database{
				background: url(../img/icon-dev-database.png) no-repeat center 18px;
			}
		}
		.name{
			font-size: 25px;
			font-family: 'Capsula';
			font-weight: 700;
		}
		.desc{
			font-size: 16px;
			font-family: 'HelveticaNeueUltra';
			margin: 8px 0;
		}
		.btn{
			width: 239px;
			margin: 11px 0;
		}

	}
}
@devRate: 180px;
.sec2{
	/* padding-bottom: @devRate;
	margin-bottom: -@devRate; */
	.b-profit{
		display: table;
		width: inherit;
		width: inherit;
	}
}
.dev-rate{
	.fullwidth();
	position: absolute;
	bottom: -1px;
	height: @devRate;
	width: inherit;
	background: @tSeaBlue;
	color: #FFF;
	.proposal{
		font-size: 37px;
		color: #FFF;
		margin-top: 64px;
		float: left;
		position: absolute;
	}
	.offer{
		width: 240px;
		padding: 47px 24px;
		margin-right: 10px;
		height: inherit;
		float: right;
		background: @tLightBlue;
		text-transform: uppercase;
		text-align: center;
		.head{
			font-size: 16px;
			letter-spacing: 1px;
			font-family: 'HelveticaNeueUltra';
			margin-bottom: 17px;
			font-weight: 700;
		}
		ul{
			li{
				display: inline-block;
				width: 37px;
				&:not(:last-child){
					margin-right: 35px;
				}
				.num{
					font-size: 34px;
					font-family: 'Capsula';
					padding-bottom: 5px;
					margin-bottom: 5px;
					border-bottom: 2px solid #FFF;
				}
			}
		}
	}
	.btn{
		position: absolute;
		left:0;
		right: 0;
		bottom: 20px;
		margin: auto;
		width: 239px;
		box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.1);
	}

}
.how-it-works{
	> div{
		&:nth-child(1){
			.item{ padding-right: 45px; }
		}
		&:nth-child(2){
			.item{ margin-left: -15px; }
		}
		&:nth-child(3){
			.item{ margin-right: -15px; }
		}
		&:nth-child(4){
			.item{ padding-left: 45px; }
		}
		&:not(:last-child){
			.icon{
				&:after{
					content: "";
					width: 111px;
					height: 14px;
					position: absolute;
					top: 58px;
					left: 140px;
					background: url(../img/steps-arrow-straight.png) no-repeat;
				}
			}
		}
	}
	.item{
		text-align: center;
		.icon{
			width: 124px;
			height: 128px;
			margin: auto;
			margin-bottom: 20px;
			position: relative;
			&.request{
				background: url(../img/icon-gear-request.png) no-repeat center;
			}
			&.receive{
				background: url(../img/icon-gear-clock.png) no-repeat center;
			}
			&.work{
				background: url(../img/icon-gear-laptop.png) no-repeat center;
			}
			&.enjoy{
				background: url(../img/icon-gear-thumb.png) no-repeat center;
			}
		}
		.step{
			font-size: 24px;
			font-weight: 700;
			line-height: 1.1em;
			font-family: 'Capsula';
		}
	}
}
.sec3{
	.steps{
		padding: 0 55px;
		margin: 48px 0;
		.step{
			margin-bottom: 30px;
			height: 60px;
			> div{
				float: left;
			}
			.num{
				font-family: 'HelveticaNeueUltra';
				font-size: 36px;
				text-align: center;
				line-height: 60px;
				height: 60px;
				width: 60px;
				color: #85898e;
				border: 1px solid;
				border-radius: 50%;
			}
			.decsript{
				margin-left: 18px;
				width: 270px;
				letter-spacing: 0.6px;
				h4{
					margin-bottom: 5px;
					margin-top: 4px;
					color: @tSeaBlue;
				}
				p{
					font-family: 'HelveticaNeueUltra';
					font-size: 13px;
					line-height: 1.3em;
					font-weight: 700;
				}
			}
		}
	}
}
.heading{
	margin-bottom: 30px;
}
.lightBlue{
	color: @tLightBlue;
}
.pink{
	color: @tPink;
}
.violet{
	color: @tViolet;
}
@import 'tablets';